<html>
<head>
    <style>
        table{
            width: 500px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
<p>Dear IC team</p>
<p>Please help {{.CreatorName}} prepare for the customer visit</p>
<table >
    <tr>
        <th>Guest full name</th>
        <th>{{ range $index , $value := .Customers }}
                {{ $value }} <br>
            {{ end }}
        </th>
    </tr>
    <tr>
        <th>Company name</th>
        <td>{{.CompanyName}}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td> {{.DateCome}} <br>
            {{.DateLeave}}
        </td>
    </tr>
    <tr>
        <th>Location</th>
        <td>{{ range $key , $value := .Location }}
                {{$key}}-{{ $value }} <br>
            {{ end }}
        </td>
    </tr>
    <tr>
        <th>Hot time on tv</th>
        <td>{{.HotTime}}</td>
    </tr>
    <tr>
        <th>Frequency</th>
        <td>{{.Req}}</td>
    </tr>
    <tr>
        <th>Note</th>
        <td>{{.Note}}</td>
    </tr>
</table>
</body>
</html>
