.title-font {
    font-size: $--font-md;
}

.normal-font {
    font-size: $--font-sm;
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}

.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}
.quarter-width {
    width: 25%;
}
.space-bottom {
    margin-bottom: 20px
}