.title-font {
    font-size: $--font-md;
}

.normal-font {
    font-size: $--font-sm;
}

.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}
.quarter-width {
    width: 25%;
}
.space-bottom {
    margin-bottom: 20px
}