/* Media Queries */
mq-xs()
  @media (min-width: 320px)
    {block}
mq-sm()
  @media (min-width: 480px)
    {block}
mq-md()
  @media (min-width: 720px)
    {block}
mq-lg()
  @media (min-width: 1200px)
    {block}

$box-shadow = 0px 1px 22px 4px rgba(0, 0, 0, 0.07)
$border = 1px solid var(--timeline)

*
  box-sizing: border-box

$oarrow
  position: absolute
  content: ""
  width: 0
  height: 0
  border-top: var(--arrow-size) solid transparent
  border-bottom: var(--arrow-size) solid transparent

$omarker
  position: absolute
  content: ""
  width var(--marker-size)
  height var(--marker-size)
  background-color: var(--timeline)
  border-radius var(--marker-size)
  box-shadow: 0px 0px 2px 8px var(--background)

.s-card-wrapper
  position: relative
  margin: auto
  +mq-lg()
    width var(--c-width)
    height var(--c-height)
    display: flex
    flex-flow: column wrap
    margin: 0 auto
  &::after
    z-index: 1
    content: ""
    position: absolute
    top: 0
    bottom: 0
    left: 50%
    border-left: $border
    +mq-lg()
      border-left: 1px solid var(--timeline)
.s-card
  position: relative
  display: block
  margin: 10px auto 80px
  max-width: 94%
  min-height 190px
  width: var(--card-width)
  z-index: 2
  +mq-sm()
    max-width: 60%
    box-shadow: $box-shadow
  +mq-md()
    max-width 40%
  +mq-lg()
    height var(--card-height)
    max-width var(--card-width)
    margin var(--outer-margin)
    margin-top var(--half-outer-margin)
    margin-bottom var(--half-outer-margin)
    &:nth-child(odd)
      margin-right var(--half-outer-margin)
      .head::after
        @extend $oarrow
        border-left-width: 15px
        border-left-style: solid
        left: 100%
      .head::before
        @extend $omarker
        left var(--marker-dist-add)
    &:nth-child(even)
      margin-left var(--half-outer-margin)
      .head::after
        @extend $oarrow
        border-right-width: 15px
        border-right-style: solid
        right: 100%
      .head::before
        @extend $omarker
        right: var(--marker-dist-sub)